---
http_interactions:
- request:
    method: post
    uri: https://discord.com/api/v9/users/@me/channels
    body:
      encoding: UTF-8
      string: '{"recipient_id":"196433564659744768"}'
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3f1ecb90c49938368145d0f8794b2707
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1716116220.683'
      X-Ratelimit-Reset-After:
      - '0.001'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1235938670410858556","type":1,"last_message_id":"1241705830936743946","flags":0,"recipients":[{"id":"196433564659744768","username":"icuello97","avatar":"044c7d2454574f09e69bb1761e524bda","discriminator":"0","public_flags":0,"flags":0,"banner":null,"accent_color":null,"global_name":"Ignacio","avatar_decoration_data":null,"banner_color":null,"clan":null}]}

        '
  recorded_at: Tue, 28 May 2024 14:00:00 GMT
- request:
    method: post
    uri: https://discord.com/api/v9/channels/1235938670410858556/messages
    body:
      encoding: UTF-8
      string: "{\"content\":\"Hello \U0001F44B\\n\\nHere is a message that you can
        use to share the document with everyone in #sutta_discussions (just click
        on the copy button on the top right):\\n\\n```\\nHey everyone! :wave: Here’s
        the link to the session document for our upcoming sutta discussion happening
        this Saturday at 7PM! :clock7: \\n\\n- [[NO SUTTA SET]]([NO SESSION DOCUMENT
        SET])\\n\\nLooking forward to seeing you there!\\n```\\n\",\"tts\":false,\"embeds\":null,\"nonce\":null,\"allowed_mentions\":null,\"message_reference\":null,\"components\":null}"
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3df15bae86f6647dd4dfcbd5c6949480
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1716116222.062'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"type":0,"channel_id":"1235938670410858556","content":"Hello \ud83d\udc4b\n\nHere
        is a message that you can use to share the document with everyone in #sutta_discussions
        (just click on the copy button on the top right):\n\n```\nHey everyone! :wave:
        Here\u2019s the link to the session document for our upcoming sutta discussion
        happening this Saturday at 7PM! :clock7: \n\n- [[NO SUTTA SET]]([NO SESSION
        DOCUMENT SET])\n\nLooking forward to seeing you there!\n```","attachments":[],"embeds":[],"timestamp":"2024-05-19T10:57:01.094000+00:00","edited_timestamp":null,"flags":0,"components":[],"id":"1241706171597979718","author":{"id":"<DISCORD_APP_ID>","username":"local-botthaghosa","avatar":"9ef403049c8dc4378fa59c79f5a6f2cf","discriminator":"3998","public_flags":0,"flags":0,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null},"mentions":[],"mention_roles":[],"pinned":false,"mention_everyone":false,"tts":false,"referenced_message":null}

        '
  recorded_at: Tue, 28 May 2024 14:00:00 GMT
recorded_with: VCR 6.2.0
