---
http_interactions:
- request:
    method: post
    uri: https://discord.com/api/v9/users/@me/channels
    body:
      encoding: UTF-8
      string: '{"recipient_id":"<%= user_id %>"}'
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3f1ecb90c49938368145d0f8794b2707
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1716109949.135'
      X-Ratelimit-Reset-After:
      - '0.001'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1241679310054752326","type":1,"last_message_id":null,"flags":0,"recipients":[{"id":"<%= user_id %>","username":"<OTHER_USERNAME>","avatar":"a_96adad6139676fb98d7290d2f1af6392","discriminator":"0","public_flags":64,"flags":64,"banner":"a_94c6e9aefe26b831fc8391437e9dc2ef","accent_color":3553599,"global_name":"<GLOBAL_NAME>","avatar_decoration_data":null,"banner_color":"#36393f","clan":null}]}

        '
  recorded_at: Sun, 19 May 2024 09:12:28 GMT
- request:
    method: post
    uri: https://discord.com/api/v9/channels/1241679310054752326/messages
    body:
      encoding: UTF-8
      string: '{"content":"<%= content %>","tts":false,"embeds":null,"nonce":null,"allowed_mentions":null,"message_reference":null,"components":null}'
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3df15bae86f6647dd4dfcbd5c6949480
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1716109950.451'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"type":0,"channel_id":"1241679310054752326","content":"<%= content %>","attachments":[],"embeds":[],"timestamp":"2024-05-19T09:12:30.293000+00:00","edited_timestamp":null,"flags":0,"components":[],"id":"1241679869952262154","author":{"id":"<DISCORD_APP_ID>","username":"local-botthaghosa","avatar":"9ef403049c8dc4378fa59c79f5a6f2cf","discriminator":"3998","public_flags":0,"flags":0,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null},"mentions":[],"mention_roles":[],"pinned":false,"mention_everyone":false,"tts":false,"referenced_message":null}

        '
  recorded_at: Sun, 19 May 2024 09:12:28 GMT
- request:
    method: post
    uri: https://discord.com/api/v9/users/@me/channels
    body:
      encoding: UTF-8
      string: '{"recipient_id":<%= Rails.application.credentials.dig(:discord, :debug_user_id) %>}'
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3f1ecb90c49938368145d0f8794b2707
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1716109951.574'
      X-Ratelimit-Reset-After:
      - '0.001'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1235938670410858556","type":1,"last_message_id":"1241658770594074695","flags":0,"recipients":[{"id":"<%= Rails.application.credentials.dig(:discord, :debug_user_id) %>","username":"<USERNAME>","avatar":"044c7d2454574f09e69bb1761e524bda","discriminator":"0","public_flags":0,"flags":0,"banner":null,"accent_color":null,"global_name":"Ignacio","avatar_decoration_data":null,"banner_color":null,"clan":null}]}

        '
  recorded_at: Sun, 19 May 2024 09:12:28 GMT
- request:
    method: post
    uri: https://discord.com/api/v9/channels/1235938670410858556/messages
    body:
      encoding: UTF-8
      string: '{"content":"<%= content %>","tts":false,"embeds":null,"nonce":null,"allowed_mentions":null,"message_reference":null,"components":null}'
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3df15bae86f6647dd4dfcbd5c6949480
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1716109952.912'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"type":0,"channel_id":"1235938670410858556","content":"<%= content %>","attachments":[],"embeds":[],"timestamp":"2024-05-19T09:12:31.846000+00:00","edited_timestamp":null,"flags":0,"components":[],"id":"1241679876466147370","author":{"id":"<DISCORD_APP_ID>","username":"local-botthaghosa","avatar":"9ef403049c8dc4378fa59c79f5a6f2cf","discriminator":"3998","public_flags":0,"flags":0,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null},"mentions":[],"mention_roles":[],"pinned":false,"mention_everyone":false,"tts":false,"referenced_message":null}

        '
  recorded_at: Sun, 19 May 2024 09:12:28 GMT
recorded_with: VCR 6.2.0
