---
http_interactions:
- request:
    method: post
    uri: https://discord.com/api/v9/channels/<DISCORD_MESSAGE_CHANNEL_ID>/messages
    body:
      encoding: UTF-8
      string: '{"content":"<%= content %>","tts":false,"embeds":null,"nonce":null,"allowed_mentions":null,"message_reference":null,"components":null}'
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3df15bae86f6647dd4dfcbd5c6949480
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1716103695.279'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"type":0,"channel_id":"<DISCORD_MESSAGE_CHANNEL_ID>","content":"<%= content %>",
        "attachments":[],"embeds":[],"timestamp":"2024-05-19T07:28:14.306000+00:00","edited_timestamp":null,"flags":0,"components":[],"id":"1241653630440964107","author":{"id":"<DISCORD_APP_ID>","username":"local-botthaghosa","avatar":"9ef403049c8dc4378fa59c79f5a6f2cf","discriminator":"3998","public_flags":0,"flags":0,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null},"mentions":[],"mention_roles":[],"pinned":false,"mention_everyone":false,"tts":false,"referenced_message":null}

        '
  recorded_at: Sun, 19 May 2024 07:28:13 GMT
recorded_with: VCR 6.2.0
