---
http_interactions:
- request:
    method: get
    uri: https://discord.com/api/v9/gateway
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 0a6d458104b103c7be293cc9b284d9ee
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1714853868.243'
      X-Ratelimit-Reset-After:
      - '0.010'
      Last-Modified:
      - Sat, 04 May 2024 20:17:48 GMT
    body:
      encoding: UTF-8
      string: '{"url":"wss://gateway.discord.gg"}

        '
  recorded_at: Sun, 05 May 2024 03:58:24 GMT
- request:
    method: post
    uri: https://discord.com/api/v9/channels/<DISCORD_MESSAGE_CHANNEL_ID>/messages
    body:
      encoding: UTF-8
      string: '{"content":"<%= content %>","tts":false,"embeds":[],"nonce":null,"allowed_mentions":null,"message_reference":null,"components":null}'
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 3df15bae86f6647dd4dfcbd5c6949480
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1714881512.015'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"type":0,"channel_id":"<DISCORD_MESSAGE_CHANNEL_ID>","content":"<%= content %>","attachments":[],"embeds":[],"timestamp":"2024-05-05T03:58:31.039000+00:00","edited_timestamp":null,"flags":0,"components":[],"id":"1236527422275321917","author":{"id":"<DISCORD_APP_ID>","username":"local-botthaghosa","avatar":"9ef403049c8dc4378fa59c79f5a6f2cf","discriminator":"3998","public_flags":0,"flags":0,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null},"mentions":[],"mention_roles":[],"pinned":false,"mention_everyone":false,"tts":false,"referenced_message":null}

        '
  recorded_at: Sun, 05 May 2024 03:58:24 GMT
- request:
    method: get
    uri: https://discord.com/api/v9/channels/<DISCORD_MESSAGE_CHANNEL_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 1fffbf023286f3010f01e4db70df9a2c
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1714881511.503'
      X-Ratelimit-Reset-After:
      - '0.001'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"<DISCORD_MESSAGE_CHANNEL_ID>","type":0,"last_message_id":"1236527422275321917","flags":0,"guild_id":"<DISCORD_SERVER_ID>","name":"general","parent_id":"1218725095808172104","rate_limit_per_user":0,"topic":null,"position":0,"permission_overwrites":[],"nsfw":false,"icon_emoji":{"id":null,"name":"\ud83d\udc4b"},"theme_color":null}

        '
  recorded_at: Sun, 05 May 2024 03:58:24 GMT
[...]
- request:
    method: get
    uri: https://discord.com/api/v9/guilds/<DISCORD_SERVER_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - a5389603c2ef2e3cffe2d047ad0cd651
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1714881511.814'
      X-Ratelimit-Reset-After:
      - '0.001'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"<DISCORD_SERVER_ID>","name":"Bot Sandbox","icon":null,"description":null,"home_header":null,"splash":null,"discovery_splash":null,"features":[],"banner":null,"owner_id":"196433564659744768","application_id":null,"region":"hongkong","afk_channel_id":null,"afk_timeout":300,"system_channel_id":"<DISCORD_MESSAGE_CHANNEL_ID>","system_channel_flags":0,"widget_enabled":false,"widget_channel_id":null,"verification_level":0,"roles":[{"id":"<DISCORD_SERVER_ID>","name":"@everyone","description":null,"permissions":"1122573558992449","position":0,"color":0,"hoist":false,"managed":false,"mentionable":false,"icon":null,"unicode_emoji":null,"flags":0},{"id":"1225743653511888971","name":"botthaghosa","description":null,"permissions":"67584","position":1,"color":0,"hoist":false,"managed":true,"mentionable":false,"icon":null,"unicode_emoji":null,"tags":{"bot_id":"1225743345700175873"},"flags":0},{"id":"1228320672598462567","name":"Scrubby","description":null,"permissions":"3072","position":2,"color":0,"hoist":false,"managed":false,"mentionable":false,"icon":null,"unicode_emoji":null,"flags":0},{"id":"1228861598202986539","name":"local-botthaghosa","description":null,"permissions":"0","position":1,"color":0,"hoist":false,"managed":true,"mentionable":false,"icon":null,"unicode_emoji":null,"tags":{"bot_id":"<DISCORD_APP_ID>"},"flags":0}],"default_message_notifications":0,"mfa_level":0,"explicit_content_filter":0,"max_presences":null,"max_members":500000,"max_stage_video_channel_users":50,"max_video_channel_users":25,"vanity_url_code":null,"premium_tier":0,"premium_subscription_count":0,"preferred_locale":"en-US","rules_channel_id":null,"safety_alerts_channel_id":null,"public_updates_channel_id":null,"hub_type":null,"premium_progress_bar_enabled":false,"latest_onboarding_question_id":null,"nsfw":false,"nsfw_level":0,"emojis":[],"stickers":[],"incidents_data":null,"inventory_settings":null,"embed_enabled":false,"embed_channel_id":null}

        '
  recorded_at: Sun, 05 May 2024 03:58:24 GMT
[...]
- request:
    method: get
    uri: https://discord.com/api/v9/guilds/<DISCORD_SERVER_ID>/members/<DISCORD_APP_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - e06f83c33559dfd4dc34f5666fdfa1d3
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '3'
      X-Ratelimit-Reset:
      - '1714881513.136'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"avatar":null,"communication_disabled_until":null,"flags":0,"joined_at":"2024-04-14T00:17:16.233000+00:00","nick":null,"pending":false,"premium_since":null,"roles":["1228861598202986539"],"unusual_dm_activity_until":null,"user":{"id":"<DISCORD_APP_ID>","username":"local-botthaghosa","avatar":"9ef403049c8dc4378fa59c79f5a6f2cf","discriminator":"3998","public_flags":0,"flags":0,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null},"mute":false,"deaf":false}

        '
  recorded_at: Sun, 05 May 2024 03:58:24 GMT
- request:
    method: get
    uri: https://discord.com/api/v9/guilds/<DISCORD_SERVER_ID>/members/<DISCORD_APP_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - e06f83c33559dfd4dc34f5666fdfa1d3
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1714881513.136'
      X-Ratelimit-Reset-After:
      - '1.000'
    body:
      encoding: ASCII-8BIT
      string: '{"avatar":null,"communication_disabled_until":null,"flags":0,"joined_at":"2024-04-14T00:17:16.233000+00:00","nick":null,"pending":false,"premium_since":null,"roles":["1228861598202986539"],"unusual_dm_activity_until":null,"user":{"id":"<DISCORD_APP_ID>","username":"local-botthaghosa","avatar":"9ef403049c8dc4378fa59c79f5a6f2cf","discriminator":"3998","public_flags":0,"flags":0,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null},"mute":false,"deaf":false}

        '
  recorded_at: Sun, 05 May 2024 03:58:24 GMT
recorded_with: VCR 6.2.0
