---
http_interactions:
- request:
    method: get
    uri: https://discord.com/api/v9/users/@me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - 78bb8553d9352a5a2f89f9def401287a
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1714882152.197'
      X-Ratelimit-Reset-After:
      - '0.001'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"<DISCORD_APP_ID>","username":"local-botthaghosa","avatar":"9ef403049c8dc4378fa59c79f5a6f2cf","discriminator":"3998","public_flags":0,"flags":0,"bot":true,"banner":null,"accent_color":null,"global_name":null,"avatar_decoration_data":null,"banner_color":null,"clan":null,"mfa_enabled":false,"locale":"en-US","premium_type":0,"email":null,"verified":true,"bio":""}

        '
  recorded_at: Sun, 05 May 2024 04:09:11 GMT
- request:
    method: get
    uri: https://discord.com/api/v9/applications/<DISCORD_APP_ID>/guilds/<DISCORD_SERVER_ID>/commands
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - b4534d2461fcb2e2d83a853d9e887f1c
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1714882152.534'
      X-Ratelimit-Reset-After:
      - '0.001'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"1236526404804542504","application_id":"<DISCORD_APP_ID>","version":"1236526404804542505","default_member_permissions":null,"type":1,"name":"discussion","description":"Commands
        for sutta discussion","guild_id":"<DISCORD_SERVER_ID>","options":[{"type":2,"name":"set","description":"Set
        values for the current discussion session","options":[{"type":1,"name":"sutta","description":"1.
        Set the sutta for the current discussion session","options":[{"type":3,"name":"abbreviation","description":"The
        abbreviation of the sutta (e.g. MN 9)","required":true},{"type":3,"name":"title","description":"The
        title of the sutta (e.g. Right View)","required":true}]}]},{"type":2,"name":"get","description":"Get
        values for the current discussion session","options":[{"type":1,"name":"document","description":"Get
        the document link for the current discussion session"}]},{"type":2,"name":"template","description":"Get
        template messages","options":[{"type":1,"name":"notify_community","description":"2.
        Get template message for notifying the community about the upcoming session"},{"type":1,"name":"notify_bsv","description":"3.
        Get template message for notifying the BSV communications team about the upcoming
        session"},{"type":1,"name":"share_document","description":"4. Get template
        message for sharing the document link"}]}],"nsfw":false}]

        '
  recorded_at: Sun, 05 May 2024 04:09:11 GMT
- request:
    method: delete
    uri: https://discord.com/api/v9/applications/<DISCORD_APP_ID>/guilds/<DISCORD_SERVER_ID>/commands/1236526404804542504
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Ratelimit-Bucket:
      - 8a79c31d9be9f09c0560bdc30859c82d
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1714882156.914'
      X-Ratelimit-Reset-After:
      - '4.000'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 05 May 2024 04:09:11 GMT
- request:
    method: post
    uri: https://discord.com/api/v9/applications/<DISCORD_APP_ID>/guilds/<DISCORD_SERVER_ID>/commands
    body:
      encoding: UTF-8
      string: '{"name":"discussion","description":"Commands for sutta discussion","options":[{"type":2,"name":"set","description":"Set
        values for the current discussion session","options":[{"type":1,"name":"sutta","description":"1.
        Set the sutta for the current discussion session","options":[{"type":3,"name":"abbreviation","description":"The
        abbreviation of the sutta (e.g. MN 9)","required":true},{"type":3,"name":"title","description":"The
        title of the sutta (e.g. Right View)","required":true}]}]},{"type":2,"name":"get","description":"Get
        values for the current discussion session","options":[{"type":1,"name":"document","description":"Get
        the document link for the current discussion session","options":[]}]},{"type":2,"name":"template","description":"Get
        template messages","options":[{"type":1,"name":"notify_community","description":"2.
        Get template message for notifying the community about the upcoming session","options":[]},{"type":1,"name":"notify_bsv","description":"3.
        Get template message for notifying the BSV communications team about the upcoming
        session","options":[]},{"type":1,"name":"share_document","description":"4.
        Get template message for sharing the document link","options":[]}]}],"default_permission":null,"type":1}'
    headers:
      Authorization:
      - Bot <DISCORD_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Bucket:
      - d9825c191970ead7c158a4c613b27ce7
      X-Ratelimit-Limit:
      - '5'
      X-Ratelimit-Remaining:
      - '4'
      X-Ratelimit-Reset:
      - '1714882157.321'
      X-Ratelimit-Reset-After:
      - '4.000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"1236530116444684379","application_id":"<DISCORD_APP_ID>","version":"1236530116444684380","default_member_permissions":null,"type":1,"name":"discussion","name_localizations":null,"description":"Commands
        for sutta discussion","description_localizations":null,"guild_id":"<DISCORD_SERVER_ID>","options":[{"type":2,"name":"set","name_localizations":null,"description":"Set
        values for the current discussion session","description_localizations":null,"options":[{"type":1,"name":"sutta","name_localizations":null,"description":"1.
        Set the sutta for the current discussion session","description_localizations":null,"options":[{"type":3,"name":"abbreviation","name_localizations":null,"description":"The
        abbreviation of the sutta (e.g. [...]
